doctype html 
html
  head
    title Dark Paradise
    block scripts 
    block style 
      
  body
    nav#navbar 
      ul
        div#logo 
            img(src="/static/logow.jpg")
            | TDP
        li #[a(href ="/") Home]
        li #[a(href ="/") About]
        li #[a(href ="/") Services]
        li #[a(href ="/") Diet Info ]
        li #[a(href ="/contact") Contact Us  ]

    block content
    footer#footer
        | Copyright © 2023 Dark Paradise.com | All rights reserved